* {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(-45deg, #2f3853, #06214d, #073585, #1a54a0);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  color: #ffffff;
  text-align: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.tittle {
  font-size: 2rem;
  padding-top: 2rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}
.footer h3 {
  margin-left: 5rem;
}
